@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  background: linear-gradient(81deg, rgba(217, 217, 217, 0.10) 0%, rgba(255, 255, 255, 0.01) 50.27%, rgba(212, 212, 212, 0.10) 100%);
  backdrop-filter: blur(55px);
}

.info {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: var(--black, #131619);
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.flex-rows {
  display: flex;
  align-self: stretch;
}

.card-list {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border: 1px solid #131619;
}

.contract-history {
  border-radius: 16px;
  border: 1px solid var(--dark, #292C31);
  background: rgba(255, 255, 255, 0.05);
}

.public-key {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
  flex: 1 0 0;
  align-self: stretch;
}

.public-key-own {
  color: white;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.nft-price-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--black, #131619);
  background: var(--black, #131619);
  backdrop-filter: blur(22.885244369506836px);
}

.public-key-listing {
  color: var(--prime, #E42B2B);
  font-family: Lato;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.icon-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 8px;
  border-top: 0.5px solid var(--dark, #292C31);
  border-right: 0.5px solid var(--dark, #292C31);
  border-bottom: 3px solid var(--dark, #292C31);
  border-left: 0.5px solid var(--dark, #292C31);
  background: var(--black, #131619);
}

.btn {
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark, #292C31);
  display: flex;
}

.btn-group {
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card-box {
  border: 1px solid var(--dark, #292C31);
  background: rgba(71, 71, 71, 0.08);
  backdrop-filter: blur(22.885244369506836px);
}

.info-logo {
  display: flex;
  /* padding-right: 0px; */
  justify-content: center;
  align-items: center;
  gap: 4.214px;
}


.profile-sol-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  border-top: 1px solid var(--black, #131619);
  border-left: 1px solid var(--black, #131619);
  border-bottom: 1px solid var(--black, #131619);
  background: var(--black, #131619);
}

.profile-add-btn {
  display: flex;
  align-items: flex-start;
  border-top: 1px solid var(--black, #131619);
  border-right: 1px solid var(--black, #131619);
  border-bottom: 1px solid var(--black, #131619);
  background: var(--dark, #292C31);
}

.dropdown-menu {
  border-right: 1px solid var(--dark, #292C31);
  border-left: 1px solid var(--dark, #292C31);
  background: rgba(19, 22, 25, 0.80);
  backdrop-filter: blur(22.885244369506836px);
}

.dropdown-navbar {
  background: linear-gradient(81deg, rgba(217, 217, 217, 0.10) 0%, rgba(255, 255, 255, 0.01) 50.27%, rgba(212, 212, 212, 0.10) 100%);
  backdrop-filter: blur(55px);
}

.res-dropdown-bg {
  background: rgba(19, 22, 25, 0.56);
  backdrop-filter: blur(7px);
}

.luci-red-btn {
  color: white;
  border-top: 0.5px solid var(--secondary, #E5E1A8);
  border-right: 0.5px solid var(--secondary, #E5E1A8);
  border-bottom: 3px solid var(--secondary, #E5E1A8);
  border-left: 0.5px solid var(--secondary, #E5E1A8);
  background: var(--prime, #E42B2B);
}

.luci-black-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-top: 0.5px solid var(--gray, #676A71);
  border-right: 0.5px solid var(--gray, #676A71);
  border-bottom: 3px solid var(--gray, #676A71);
  border-left: 0.5px solid var(--gray, #676A71);
  background: var(--black, #131619);
}

.img-box {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
  border-radius: 16px;
}

.avatar-btn {
  display: flex;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  color: white;
  border-radius: 100px;
  border-top: 0.5px solid var(--gray, #676A71);
  border-right: 0.5px solid var(--gray, #676A71);
  border-bottom: 3px solid var(--gray, #676A71);
  border-left: 0.5px solid var(--gray, #676A71);
  background: var(--black, #131619);
}

.nft-edition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.nft-edition-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.nft-edition-header-title {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--white, #F7F7F7);
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 150% */
}

.nft-edition-header-key {
  color: var(--secondary, #E5E1A8);
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 133.333% */
}

.activity-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark, #292C31);
  background: var(--prime, #E42B2B);
}

.activity-partner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--dark, #292C31);
  background: rgba(71, 71, 71, 0.08);
}

.activity-btn-text {
  color: var(--white, #F7F7F7);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.card-box-bottom-line {
  border-bottom: 1px solid rgba(103, 106, 113, 0.20);
}

.nft-wins {
  border: 1px solid white;
  background: var(--black, #131619);
  backdrop-filter: blur(22.885244369506836px);
}

.ticket-text {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 133.333% */
}

.instruction-text {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 133.333% */
}

.check-btn {
  border: 1px solid var(--black, #131619);
  background: var(--prime, #E42B2B);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.luci-btn-text {
  color: var(--black-black-100, #FFF);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 18px */
}

.ticket-bought-text {
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 177.778% */
}

.xy-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bought-ticket-text {
  color: var(--secondary, #E5E1A8);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
}

.time-text {
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 133.333% */
}

.user-account-key {
  background: linear-gradient(81deg, rgba(217, 217, 217, 0.10) 0%, rgba(255, 255, 255, 0.01) 50.27%, rgba(212, 212, 212, 0.10) 100%);
  backdrop-filter: blur(55px);
}

.ticket-bought {
  align-items: center;
  border: 2px solid var(--secondary, #E5E1A8);
  background: rgba(71, 71, 71, 0.08);
  backdrop-filter: blur(22.885244369506836px);
}

.sm-text {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 142.857% */
}

.detalis-btn-text {
  color: var(--black-black-100, #FFF);
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 14px */
}

.bottom-line {
  border-bottom: 1px solid var(--dark, #292C31);
}

.border-line {
  border: 1px solid var(--black, #131619);
}

.user-account-key-text {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
}

.ticket-sales {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  align-self: stretch;
}

.ticket-time-limit {
  display: flex;
  align-items: center;
  gap: 8px;
  background: linear-gradient(137deg, rgba(252, 255, 117, 0.00) 0%, rgba(255, 255, 255, 0.15) 100%);
  backdrop-filter: blur(16px);
}

.raffle-collection-nft {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  border: 1px solid var(--dark, #292C31);
  background: var(--dark, #292C31);
}

.dropdown {
  border: 2px solid var(--dark, #292C31);
  background: rgba(19, 22, 25, 0.80);
  backdrop-filter: blur(22.885244369506836px);
}

.user-account {
  background: linear-gradient(81deg, rgba(217, 217, 217, 0.10) 0%, rgba(255, 255, 255, 0.01) 50.27%, rgba(212, 212, 212, 0.10) 100%);
  backdrop-filter: blur(55px);
}

.winner-table-list {
  border: 1px solid var(--dark, #292C31);
  background: #191C1E;
  backdrop-filter: blur(179.22616577148438px);
}

.deco-text {
  background: linear-gradient(178deg, #E42B2B 0%, #E5E1A8 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}